<!DOCTYPE html>
<html lang="en" ng-app="timers" ng-controller="TimersCtrl">
<head>
<meta charset="utf-8">
<title>{{remaining | time:"mm:ss"}}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="vendor/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
<link href="css/timers.css" rel="stylesheet">
</head>
<body>

<div class="container text-center">
  <div id="window" class="panel panel-default">
    <div class="panel-body">

      <div class="center-block">
        <div id="start-buttons" class="btn-group">
          <a class="btn btn-default btn-lg"
            ng-repeat="interval in intervals"
            ng-click="$parent.start(interval)">
            {{interval | time}}
          </a>
        </div>
      </div>

      <div id="time-display" class="row">
        <span id="elapsed-display" class="col-xs-12 col-sm-6">
          <span class="min">{{elapsed | time:"mm:ss"}}</span><span class="dot-ms">.{{elapsed | time:"ms"}}</span>
        </span>
        <span id="remaining-display" class="col-xs-12 col-sm-6">
          <span class="min">{{remaining | time:"mm:ss"}}</span><span class="dot-ms">.{{remaining | time:"ms"}}</span>
        </span>
      </div>

      <progressbar class="progress-striped" animate="false" value="progress">
      </progressbar>

      <div class="center-block">
        <div class="btn-group">
          <a id="repeat-button"
            class="btn btn-primary btn-lg"
            ng-disabled="!restartable"
            ng-click="restart()"
            ><span class="glyphicon glyphicon-repeat"></span></a>
          <div class="btn-group" dropdown ng-controller="SoundCtrl">
            <a class="btn btn-default btn-lg dropdown-toggle"
              dropdown-toggle><span class="glyphicon glyphicon-music"</span></a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="sound in sounds" ng-class="{active: isSelected(sound)}">
              <a ng-click="select(sound) ; play()">{{sound.label}}</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="vendor/SoundJS/lib/soundjs-0.6.0.min.js"></script>
<script src="js/timers.js"></script>
<script src="js/sound.js"></script>
</body>
</html>
